RewriteEngine On

# Check if the request is not pointing to a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite to index.php and ensure the full request URI is passed
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
