.how-it-works {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40dvh;
}


/*container*/
.how-it-works__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*block__icon, block__title, block__description*/
.how-it-works__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-align: center;

    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

/*rules for images*/
.block__icon {
    width: 150px;
    padding: 20px;
    border-radius: 50%;
    background: #efefde;
}

/*title*/
.block__title {
    font-weight: bold;
    font-size: 24px;
    color: var(--header__title);
}

/*description*/
.block__description {
    font-size: 24px;
    color: var(--general-p-color);
}

/*arrows*/
.arrow-blocks {
    width: 100%;
    
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}


.how-it-works__block:nth-child(1) {
animation-delay: 0.4s;
}

.arrow-blocks:nth-child(1){
    animation-delay: 0.6s;
}

.how-it-works__block:nth-child(2) {
animation-delay: 1s;
}

.arrow-blocks:nth-child(2){
    animation-delay: 1s;
}

.how-it-works__block:nth-child(3) {
animation-delay: 1.2s;
}



/*RESPONSIVE*/

/*Arrows*/
@media only screen and (min-width: 1500px) {
    .arrow-blocks {
        width: 30%;
        
        opacity: 0;
        animation: fadeIn 0.5s forwards;
    }
}


@media only screen and (max-width: 1300px) {
    .block__title {
        font-size: 20px;
    }
    .block__description {
        font-size: 18px;
    }
}

@media only screen and (max-width: 750px) {
    /*display column*/
    .how-it-works__container {
        flex-direction: column;
    }

    /*item*/
    .how-it-works__block {
        width: 60%;
    }
    .arrow-blocks {
        width: auto;
    }
    /*rotate arrows*/
    .arrow-blocks img {
        rotate: 90deg;
    }
}