.section__testimonials {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*btn to center*/

.btn-centre {
    display: flex;
    justify-content: center;
}
