.section__why-us {
    display: flex;
    /* background-color: rgb(149, 162, 174); */
    justify-content: center;
    align-items: center;
    min-height: 30dvh;
}


/*Container*/
.container__why-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Why-us items*/

.why-us__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 25px;

    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.why-us__item--subtitle {
    color: orange;

}


@media only screen and (max-width: 530px) {
    .container__why-us {
        flex-direction: column;
        gap: 50px;
    }
}


.why-us__item:nth-child(1) {
animation-delay: 0.4s;
}

.why-us__item:nth-child(2) {
animation-delay: 0.8s;
}

.why-us__item:nth-child(3) {
animation-delay: 1.2s;
}

.why-us__item:nth-child(4) {
animation-delay: 1.4s;
}