@import url(bid-now-card.css);

/*Carousel section*/
.carousel-main-section{
    padding: 20px;
    background-color: var(--general__body--color);
}
/* Slideshow container */
.carousel-container {
    width: 80%;
    position: relative;
    margin: auto;
  }

  /*individual container*/
  .mySlides {
    /* display: none; */
    height: 80vh;
  }

  .mySlides img {
    height: 100%;
    object-fit: cover;
    opacity: 80%;
    border-radius: 10px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
 
  

  /*product info*/
  .info-product-promoted {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;

    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }


  .promoted-product__title h1 {
    font-size: 50px;
  }

  .promoted-product__description p {
    font-size: 30px;
    color: white;
  }

  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: 0.1} 
    to {opacity: 1}
  }

  /*carousel rules*/
  @media only screen and (max-width: 1500px) {
    .carousel-container {
      width: 100%;
    }
  }
  /*text and box rules*/
  @media only screen and (max-width: 600px) {
    .promoted-product__title h1 {
      font-size: 40px;
      text-align: center;
    }
    .promoted-product__description p {
      font-size: 25px;
      text-align: center;
    } 
  }

  /*card rules*/
  @media only screen and (max-width: 550px) {
    .promotion-card {
      top: 60%;
      right: 15%;
    }
  }

  @media only screen and (max-width: 470px) {
    .info-product-promoted {
      left: 5%;
    }
    .promotion-card {
      right: 10%;
    }
  }

  @media only screen and (max-width: 430px) {
    .carousel-main-section {
      padding: 0;
    }
    .promotion-card {
      right: 5%;
      padding: 10px;
    }
  }

  @media only screen and (max-width: 430px) {
    .promotion-card {
      right: 0%;
      left: 0%;
      margin: 5px;
    }
    .timer {
      gap: 5px;
      justify-content: center;
    }
    .timer div {
      padding: 2px;
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 530px) {
    .prev, .next,.footer-carousel {font-size: 11px}
  }