/*general body color*/
@import url(typography/typography.css);
@import url(utils/utils.css);
:root {
    /* --general__body--color: linear-gradient(125deg, #FFFFFF 25%, #1E90FF 50%, #d38365 75%); */
    /* --general__body--color: linear-gradient(125deg, #FFFFFF 25%, hsl(202, 57%, 60%) 50%, #ffd8be 75%, #48cae4 30%); */
    --general__body--color: linear-gradient(125deg, #FFFFFF 25%, hsl(202, 57%, 60%) 50%, #ffc1c1 75%, #d58b8b 30%);
    --transparent-bg: rgb(0 0 0 / 40%);
    --transparent-white-bg: rgba(255, 255, 255, 0.4);
}



