.min-height100 {
    min-height: 100vh;
}

.min-height90 {
    min-height: 90vh;
}
.min-height80 {
    min-height: 80vh;
}
.min-height70 {
    min-height: 70vh;
}
.min-height60 {
    min-height: 60vh;
}
.min-height50 {
    min-height: 50vh;
}
.min-height40 {
    min-height: 40vh;
}
.min-height30 {
    min-height: 30vh;
}